.infoContainer {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; // fix: ios滑动卡顿
}
.title {
  position: sticky;
  top: 0;
  left: 0;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  line-height: 47px;
  font-size: 18px;
  border-bottom: 1px solid #e8e8e8;
  font-weight: bold;
  background-color: #fff;
  color: #494949;
}
.infoContainer .children {
  padding: 0 15px;
}
